@{
	Layout = "Layout";
}
<h1>Oferta Académica</h1>


<ol class="rectangle-list">
	<li><a href="~/Home/Info">ISIC-2010-224 Ingeneria en Sistemas Computacionales</a></li>
	<li><a href="#">ISIC-2010-224 Ingeneria en Sistemas Computacionales</a>
	<li><a href="#">ISIC-2010-224 Ingeneria en Sistemas Computacionales</a>
	<li><a href="#">ISIC-2010-224 Ingeneria en Sistemas Computacionales</a>
	<li><a href="#">ISIC-2010-224 Ingeneria en Sistemas Computacionales</a>
	<li><a href="#">ISIC-2010-224 Ingeneria en Sistemas Computacionales</a>
</ol>