@model IEnumerable<Tarea2Perros.Models.ViewModels.IndexRazasViewModel>
@{
	Layout = "Layout";
}
<section class="nav">
    <h3>ABC de Razas</h3>
    <nav>
        <a href="~/Home/Index">Todas</a>
        <a href="index.html">A</a>
        <a href="index.html">B</a>
        <a href="index.html">C</a>
        <a href="~/Home/Pais">Listado por país</a>
    </nav>
</section>
<section class="list">
    <ul>
        @foreach (var razas in Model)
        {
            <li>
                <a href="~/Home/Raza/@razas.Nombre.Replace(" ", "-")">
                    <img src="~/imgs_perros/@(razas.Id)_0.jpg">
                    @razas.Nombre
                </a>
            </li>
        }
    </ul>
</section>