@model IEnumerable<Tarea2Perros.Models.ViewModels.PaisViewModel>
@{
    Layout = "Layout";
}
<section class="nav">
    <h3>Razas por país</h3>
    <nav>
        <a href="~/Home/Index">Listado Alfabético de Razas</a>
    </nav>
</section>

<section class="list">
    @foreach (var paises in Model)
    {
        <h4>@paises.Pais</h4>
        <ul>
            @foreach (var perros in paises.PerrosxPais)
            {
                <li>
                    <a href="~/Home/Raza/@perros.Nombre.Replace(" ", "-")">
                        <img src="~/imgs_perros/@(perros.Id)_0.jpg" />
                        @perros.Nombre
                    </a>
                </li>
            }
        </ul>
    }
</section>

